<html>
  <body>
    <div class="login">
      <center><h1>Video Verification</h1>
      <br>
       <form>
            <div><span>Pan Image: </span><span><input type="text"></span></div>
          <br>
            <div><span>aadhar Image: </span><span><input type="text"></span></div>
          <br>
            <div><span>Image: </span> <span><input type="text"></span> </div>
          <br>
            <div> <span>Video: </span><span><input type="text"></span> </div>
          <br>
            <div><span><button type="submit"> Predict</button></span></div>
     </form>
     <br>
     <br>
    </div>
    </center>
  </body>
</html>
